.App {
}

.App-header {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #dae1e9;
}

.App-intro {
  font-size: large;
}

table {
  display: block;
  margin: 0;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid #dae1e9;
}

th, td {
  padding: 3px 10px;
}

.center-wrap {
  display: flex;
  align-items: center;
  justify-content: center
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
