.App {
}

.App-header {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #dae1e9;
}

.App-intro {
  font-size: large;
}

table {
  display: block;
  margin: 0;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid #dae1e9;
}

th, td {
  padding: 3px 10px;
}

select {
  min-width: 100px;
}
input {
  display: inline-block;
  width: 50px;
}

input[type=datetime-local] {
  width: 190px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  opacity: 1;
}
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.center-wrap {
  display: flex;
  align-items: center;
  justify-content: center
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
